@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
.basket-lite-container {
  font-size: 1rem;
  padding: 1em 1.3em 3em; }
  .basket-lite-container .title {
    text-align: center;
    margin-bottom: 1em;
    color: #c40d2e; }
    .basket-lite-container .title span:nth-child(1) {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.8em; }
  .basket-lite-container .notice {
    text-align: center; }
  .basket-lite-container .list-item-container {
    color: #555; }
    .basket-lite-container .list-item-container .card-item-container {
      display: flex;
      font-size: 1em;
      position: relative; }
      .basket-lite-container .list-item-container .card-item-container .img-item-wrapper img {
        width: 160px;
        height: 220px;
        object-fit: cover; }
      .basket-lite-container .list-item-container .card-item-container .info-item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 1em; }
        .basket-lite-container .list-item-container .card-item-container .info-item-wrapper > p {
          margin: 0; }
        .basket-lite-container .list-item-container .card-item-container .info-item-wrapper .collection {
          font-family: "Charmonman", cursive;
          font-size: 1.2em;
          color: #c40d2e; }
        .basket-lite-container .list-item-container .card-item-container .info-item-wrapper .sub-collection {
          font-weight: 500;
          text-transform: uppercase; }
        .basket-lite-container .list-item-container .card-item-container .info-item-wrapper .name {
          max-width: 22ch; }
        .basket-lite-container .list-item-container .card-item-container .info-item-wrapper .price {
          margin-top: 10px; }
      .basket-lite-container .list-item-container .card-item-container .btn-delete-item {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e2e2e2;
        font-size: 1.2em; }
      .basket-lite-container .list-item-container .card-item-container .btn-delete-item:hover {
        color: #c40d2e; }
    .basket-lite-container .list-item-container .card-item-container:hover .info-item-wrapper .name {
      color: #c40d2e; }
    .basket-lite-container .list-item-container .fake-item-border {
      height: 2px;
      width: 90%;
      margin: 10px auto;
      background-color: #e2e2e2; }
  .basket-lite-container .sub-total-container {
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0;
    font-weight: 500;
    color: #777777; }
    .basket-lite-container .sub-total-container span:nth-child(1) {
      text-transform: uppercase;
      margin-right: 15px; }
  .basket-lite-container .button3-container {
    width: 80%;
    margin: 0 auto;
    background-color: #c40d2e;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #c40d2e;
    margin-top: 3em;
    text-decoration: none; }
  .basket-lite-container .button3-container:hover {
    color: #c40d2e; }
