@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
.toggle-container {
  height: 100%;
  width: 100%;
  margin: auto;
  overflow-y: scroll; }
  .toggle-container .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0rem 0 0rem; }
    .toggle-container .wrapper .title {
      font-family: 'Charmonman', cursive;
      color: #c40d2e;
      cursor: default;
      font-size: 2.5rem;
      font-weight: 600;
      margin: 3rem 0 1rem 0; }
    .toggle-container .wrapper .product-container {
      display: flex;
      flex-wrap: wrap; }
      .toggle-container .wrapper .product-container .card-product {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        color: #555;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 0 1rem; }
        .toggle-container .wrapper .product-container .card-product img {
          width: 135px;
          object-fit: cover;
          margin-bottom: 0.7rem;
          transition: 0.3s ease-in-out; }
      .toggle-container .wrapper .product-container .card-product:hover {
        color: #c40d2e; }
        .toggle-container .wrapper .product-container .card-product:hover img {
          transform: scale(1.1);
          transition: 0.3s ease-in-out; }
    .toggle-container .wrapper .button-container {
      margin: 3rem 0 3rem 0;
      text-decoration: none; }

@media only screen and (max-width: 1100px) {
  .toggle-container .wrapper .title {
    font-size: 22px; }
  .toggle-container .wrapper .product-container .card-product {
    font-size: 13px;
    margin: 0 0.4rem 0 0.4rem; }
    .toggle-container .wrapper .product-container .card-product img {
      width: 120px; } }
