* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    font-family: "Jost", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
body {
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
.hidden {
    display: none;
}
.header-container {
    background-color: white;
    font-size: 0.9em;
    position: sticky;
    top: 0;
    z-index: 999;
    line-height: 1.25;
    ::-webkit-scrollbar {
        display: none;
    }
    .header-wrapper {
        height: 100px;
        box-shadow: 0px 2px 2px 0px #0000001f;
        position: relative;
        z-index: 1000;
        .child {
            height: 50%;
            padding: 0 3rem 0 3.5rem;
        }
        .logo-wrapper {
            z-index: 1;
            position: absolute;
            left: 50%;
            top: 12%;
            transform: translateX(-35px);
            height: 35px;
            width: 70px;
            img {
                width: 70px;
                height: 35px;
                object-fit: cover;
            }
        }
        .top-part {
            z-index: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button-menu-wrapper {
                display: flex;
                align-items: center;
                height: 75%;
                cursor: pointer;
                margin-top: 0.5rem;
                .text-wrapper {
                    font-size: 0.9rem;
                    font-weight: 500;
                    .text-open {
                        color: #555;
                        text-transform: uppercase;
                    }
                    .text-close {
                        color: #c40d2e;
                        text-transform: uppercase;
                    }
                }
                .bar-wrapper {
                    width: 14px;
                    margin-right: 5px;
                    .bar {
                        height: 2px;
                        width: 14px;
                        margin-top: 2px;
                        margin-bottom: 2px;
                        background-color: #555;
                        transition: 0.5s;
                        position: relative;
                    }
                    .bar-1.active {
                        transform: rotate(225deg);
                        background-color: #c40d2e;
                        top: 2px;
                    }
                    .bar-3.active {
                        transform: rotate(-225deg);
                        background-color: #c40d2e;
                        bottom: 2px;
                    }
                }
            }
            .button-menu-wrapper:hover {
                .bar-wrapper .bar {
                    background-color: #c40d2e;
                }
                .text-open {
                    color: #c40d2e;
                }
            }
            .sticker-bar-wrapper {
                font-size: 30px;
                color: #555;
                font-weight: 100;
                font-size: 20px;
                margin-top: 0.2rem;
                display: flex;
                align-items: flex-end;
                .icon-wrapper {
                    cursor: pointer;
                    margin: 0 0.5rem 0 0.5rem;
                    position: relative;
                    .total-basket {
                        color: black;
                        z-index: 300000;
                        opacity: 1;
                        position: absolute;
                        font-size: 0.6em;
                        right: -7px;
                        bottom: -5px;
                    }
                    .total-basket::after {
                        content: "";
                        width: 5px;
                        height: 5px;
                        background-color: #c40d2e;
                        border-radius: 50%;
                        position: absolute;
                        left: -2px;
                        top: -10px;
                    }
                    .search {
                        transform: rotate(90deg);
                    }
                    .user {
                        position: relative;
                        top: 3px;
                        left: -3px;
                    }
                    .icon-item {
                        opacity: 1;
                        transition: 0.3s;
                    }
                    .sticky-bar {
                        height: 3px;
                        width: 16px;
                        background-color: #c40d2e;
                        transition: 0.3s;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                    }
                    .bar1 {
                        top: 45%;
                    }
                    .bar2 {
                        bottom: 25%;
                    }
                }
                .icon-wrapper.active {
                    .total-basket {
                       opacity: 0;
                    }
                    .icon-item {
                        opacity: 0;
                    }
                    .sticky-bar {
                        opacity: 1;
                    }
                    .bar1 {
                        left: 12%;
                        top: 55%;
                        transform: rotate(225deg);
                    }
                    .bar2 {
                        left: 12%;
                        bottom: 34%;
                        transform: rotate(-225deg);
                    }
                }
                .icon-wrapper:hover {
                    color: #c40d2e;
                }
            }
        }
        .bottom-part {
            display: flex;
            align-items: center;
            .bottom-part-wrapper {
                padding: 0 0 0 0;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                .bottom-part-child {
                    cursor: pointer;
                    color: #555;
                    margin: 0 1rem 0 1rem;
                    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                }
                .bottom-part-child:hover {
                    color: #c40d2e;
                }
            }
        }
    }
    .toggle-panel-icon {
        background: white;
        overflow-y: hidden;
        position: absolute;
        display: flex;
        height: 0px;
        width: 100%;
        top: 100px;
        z-index: 990;
        transition: 0.3s;
        .panel-icon-child {
            font-size: 1rem;
            width: 100%;
        }
    }
    .toggle-panel-icon.panel-search.active {
        position: absolute;
        height: 125px;
        width: 100%;
        background: white;
        z-index: 990;
        padding-top: 1em;
        box-shadow: 0px 3px 2px 0px #0000001f;
        .panel-icon-child {
            display: block;
        }
    }
    .toggle-panel-icon.panel-cart {
        width: 0vw;
        position: absolute;
        right: 0;
        height: calc(100vh - 100px);
        .panel-icon-child {
            transition: 0s;
            transition-delay: 0s;
            opacity: 0;
        }
    }
    .toggle-panel-icon.panel-cart.active {
        width: 550px;
        transform: translateX(0);
        background: white;
        z-index: 990;
        padding-top: 1em;
        box-shadow: -3px 0px 2px 0px #0000001f;
        overflow-y: scroll;
        .panel-icon-child {
            width: 90%;
            margin: 0 auto;
            opacity: 1;
            transition: 0.1s;
            transition-delay: 0.2s;
        }
    }
    .toggle-panel-icon.panel-user {
        width: 0vw;
        position: absolute;
        right: 0;
        height: calc(100vh - 100px);
        .panel-icon-child {
            display: block;
            transition: 0s;
            transition-delay: 0s;
            opacity: 0;
        }
    }
    .toggle-panel-icon.panel-user.active {
        width: 450px;
        transform: translateX(0);
        background: white;
        z-index: 990;
        padding-top: 1em;
        box-shadow: -3px 0px 2px 0px #0000001f;
        .panel-icon-child {
            opacity: 1;
            transition: 0.1s;
            transition-delay: 0.2s;
            padding: 0 1vw;
            a {
                text-decoration: none;
                color: #c40d2e;
            }
            h1 {
                margin: 0.5em 0 0;
                text-align: center;
                color: #c40d2e;
                text-transform: uppercase;
                font-weight: 400;
            }
            .login-container {
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-top: 2em;
                .login-child {
                    width: 100%;
                }
                .login-part {
                    margin-bottom: 3em;
                }
            }
        }
    }
    .navbar-toggle-panel-container {
        background: white;
        overflow-y: hidden;
        position: absolute;
        display: flex;
        height: 0px;
        width: 100%;
        top: 100px;
        z-index: 999;
        transition: 0.3s;
        transition-delay: 0.5s;
        .panel-child {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            transition: 0.1s;
        }
        .panel-child.active {
            opacity: 1;
        }
    }
    .navbar-toggle-panel-container.active.activeFindPanel {
        height: 525px;
    }
    .navbar-toggle-panel-container.active {
        transition-delay: 0.1s;
        position: absolute;
        height: 450px;
        width: 100%;
        top: 100px;
        background: white;
        z-index: 999;
        .panel-child {
            z-index: -1;
            opacity: 0;
            transition: 0.2s;
        }
        .panel-child.active {
            z-index: 1;
            opacity: 1;
        }
    }
    .main-menu-container {
        z-index: 700;
        position: absolute;
        width: 0px;
        height: calc(100vh - 100px);
        border: 0;
        transition: all 0.2s ease-in-out;
        overflow-y: scroll;
        .main-menu-wrapper {
            display: none;
        }
    }
    .main-menu-container.active {
        display: flex;
        justify-content: center;
        border: 0;
        width: 350px;
        height: calc(100vh - 100px);
        background-color: white;
        position: absolute;
        z-index: 700;
        top: 100px;
        .main-menu-wrapper {
            display: flex;
        }
    }
    .filter-black {
        display: none;
        z-index: 500;
        position: absolute;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: black;
        opacity: 0.3;
    }
    .filter-black.active {
        display: block;
    }
    .filter-black2 {
        z-index: 800;
        position: absolute;
        width: 100%;
        height: 0px;
        background-color: black;
        opacity: 0.3;
        transition-delay: 0.5s;
    }
    .filter-black2.active {
        height: calc(100vh - 100px);
        transition-delay: 0.25s;
        z-index: 800;
    }
    .filter-black3 {
        z-index: 800;
        position: absolute;
        width: 100%;
        height: 0px;
        background-color: black;
        opacity: 0.3;
    }
    .filter-black3.active {
        height: calc(100vh - 100px);
    }
}

@media only screen and (max-width: 1100px) {
    .header-container {
        .navbar-toggle-panel-container.active {
            height: 400px;
        }
        .navbar-toggle-panel-container.active.activeFindPanel {
            height: 435px;
        }
    }
}
@media only screen and (max-width: 850px) {
    .header-container {
        .header-wrapper {
            height: 60px;
            .child {
                height: 100%;
                padding: 0 2rem 0 2rem;
            }
            .bottom-part {
                display: none;
            }
        }
        .toggle-panel-icon {
            top: 60px;
        }
        .main-menu-container {
            top: 60px;
            height: calc(100vh - 60px);
        }
        .main-menu-container.active {
            top: 60px;
            height: calc(100vh - 60px);
        }
        .filter-black {
            height: calc(100vh - 60px);
        }
        .filter-black2.active {
            height: calc(100vh - 60px);
        }
        .filter-black3.active {
            height: calc(100vh - 60px);
        }
    }
}

@media only screen and (max-width: 600px) {
    .header-container {
        .header-wrapper {
            .child {
                height: 100%;
                padding: 0 1rem 0 1rem;
            }
            .top-part {
                .button-menu-wrapper {
                    .text-wrapper {
                        display: none;
                    }
                    .bar-wrapper {
                        .bar {
                            height: 3px;
                            width: 18px;
                            margin-top: 3px;
                            margin-bottom: 3px;
                        }
                        .bar-1.active {
                            top: 3px;
                        }
                        .bar-3.active {
                            bottom: 3px;
                        }
                    }
                }
            }
        }
        .main-menu-container.active {
            width: 100%;
        }
    }
}
