.bill-board-container {
  background: white;
  margin-top: 2.5rem;
  border-radius: 10px;
  height: 80vh;
  overflow: hidden;
  padding: 1rem 0 3rem 0;
  position: relative;
  box-shadow: 0 0 5px 3px #e2e2e2; }
  .bill-board-container .title-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem 0 2rem; }
    .bill-board-container .title-container * {
      font-size: 1.2rem;
      padding: 0.3em 0 1rem 0; }
